@media screen and (max-width: 520px) {
    /*Generales*/
    .w-section {
        padding-bottom: 50px;
        padding-top: 50px;    
    }
    .size-titulos {
        font-size: 1.6em;
    }
    .size-p {
        font-size: 0.9em;
    }
    /*=========================================*/
    /*cabecera y menu*/
    #fondo-cabecera {
        min-height: 70vh;
    }
    .menu {
        display: none;
    }
    .barra-menu-movil {
        display: block;
        width: 100%;
        height: 7vh;
        overflow: auto;
        position: absolute;
        position: fixed;
        top: 0px;
        padding: 5px 10px;
        text-align: right;
        background-color: white;
        z-index: 99;
        box-shadow: 0px 1px 5px gray;
    }
    .icono-menu-movil {
        font-size: 30px;
    }
    .menu-movil-flotante {
        display: block;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        position: fixed;
        right: -100%;
        top: 0;
        z-index: 999;
        padding: 10px;
    }
    .x-menu-movil {
        color: white;
        font-size: 30px;
        position: absolute;
        right: 15px;
    }
    .menu-movil-flotante ul {
        width: 90%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 10px;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
    .menu-movil-flotante ul li {
        width: 100%;
        height: 15vh;
        font-size: 1.2em;
        text-align: center;
    }
    .menu-movil-flotante ul li a {
        color: white;
    }
    #inicio h1 {
        width: 90%;
        margin-top: 15vh;
    }
    #play {
        font-size: 40px;
    }
    #play:hover {
        font-size: 50px;
    }
    /*=========================================*/
    /*Caracteristicas y beneficios*/
    #caracteristicas-beneficios {
        min-height: 1100px;
    }
    #caja-caracteristicas {
        min-height: 800px;
        flex-direction: column;
        margin-top: 5vh;
    }
    .w-cajas-caracteristicas {
        margin-top: 5vh;
        width: 90%;
        display: flex;
    }
    /*=========================================*/
    /*galeria*/
    #galeria-productos {
        min-height: 1300px;
    }
    #imagenes {
        width: 100%;
        min-height: 950px;
        margin-top: 5vh;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .cajas-imagenes {
        width: 90%;
        height: 300px;
        margin-bottom: 15px;
    }
    /*=========================================*/
    /*Testimonios*/
    #testimonios {
        min-height: 900px;
        overflow: auto;
    }
    
    #caja-testimonios {
        width: 100%;
        flex-direction: column;
        margin-left: 0%;
        animation: testimonios;
    }
    #testimonio-1,
    #testimonio-2,
    #testimonio-3 {
        width: 80%;
        padding: 35px;
        margin-bottom: 20px;
    }
    /*=========================================*/
    /*ponte en contacto*/
    #tu-correo,
    #nombre-completo,#enviar {
    width: 100%;
    float: none;
    }
    #formulario-1 {
        width: 90%;
    }
    /*=========================================*/
    /*Descargar la app*/
    #descargar-app h1 {
        margin-top: 10vh;
    }
    #descargar {
        width: 25%;
        height: 40px;
    }
    #descargar:hover {
        width: 26%;
    }
    /*=========================================*/
    /*Footer*/
    .menu-footer {
        width: 100%;
    }
    .menu-footer li a {
        display: none;
    }
    .copyright {
        margin-top: 1.5vh;
        font-size: 0.7em;
    }

    
    /*======================================================================================================================================================*/
    /*=====================================================================
    =======================================================================
    Pagina encuestas*/
    #encuestas-contenedor {
        width: 100%;
    }
    #imagen-encuesta,
    #fondo2-imagen-encuesta {
        height: 40vh;
    }
    #fondo2-imagen-encuesta h1 {
        margin-top: 15vh;
    }
    /*======================================================================================================================================================*/
    /*=====================================================================
    =======================================================================
    Pagina reportes*/
    #header-reportes {
        height: 40vh;
    }
    #fondo2-header-reportes h1 {
        margin-top: 15vh;
    }
    /*=========================================*/
    /* Graficas */
    #chart-estadisticas-asignatura,
    #chart-estadisticas-materias,
    #chart-estadisticas-inscritos {
        max-width: 450px;
    }
    /*=========================================*/
    /*Series e iconos*/
    #series,
    #inscritos-series {
        width: 80%;
    }
    .series-p,
    .inscritos-series-p {
        font-size: 0.9em;
    }

    #creditos-asignatura h1,
    #materias h1,
    #inscritos h1 {
        font-size: 1.5em;
    }
    /*======================================================================================================================================================*/
    /*=====================================================================
    =======================================================================
    Pagina Propositos de formación*/
    #header-propositos {
        height: 40vh;
        background-position: center center;
    }
    #fondo2-header-propositos h1 {
        margin-top: 15vh;
    }
   
    /*Botones filtar*/
    .bnt-filtro-todo,
    .bnt-filtro-nombre,
    .bnt-filtro-codigo,
    .bnt-filtro-nivel1,
    .bnt-filtro-nivel2,
    .bnt-filtro-nivel3 {
        font-size: 0.8em;
    }
    /*Tabla*/
    #tabla-propositos th:nth-child(2) {
        width: 30%;
    }
    #tabla-propositos tr, #tabla-propositos td{
        font-size: 0.8em;  
    }

    #tabla-propositos td {
        padding: 15px;
        font-size: 0.8em;
    }
    /*======================================================================================================================================================*/
    /*=====================================================================
    =======================================================================
    Pagina Estrategias didácticas*/
    #header-estrategias {
        height: 40vh;
    }
    #fondo2-header-estrategias h1 {
        margin-top: 15vh;
    }

    /*Tabla*/
    #tabla-estrategias tr td:nth-child(3) {
        width: 60%;
        padding: 10px;
    }
    .td-sinfondo,
    #th-ilustracion {
        display: none;
    }
    #tabla-estrategias tr, #tabla-estrategias td {
        font-size: 0.8em;
    }
    /*======================================================================================================================================================*/
    /*=====================================================================
    =======================================================================
    Pagina Necesidades*/
    #header-necesidades {
        height: 40vh;
    }
    #fondo2-header-necesidades h1 {
        margin-top: 15vh;
    }

    

    #btns-guardar-compartir {
        margin-right: 0px;
        width: 80%;
    }

    #btns-pestañas {
        flex-wrap: wrap;
    }

    #btns-pestañas button {
        width: 40%;
        margin-top: 10px;
    }
    #necesidades-caja h2 {
        font-size: 1em;
    }
    #guardar,
    #compartir {
        padding: 3px;
        margin-left: 3px;
        margin-right: 5px;
    }
    #necesidades-caja h2 br {
        display: block;
    }

    #tabla-necesidades,
    #tabla-necesidades th,
    #tabla-necesidades td {
    border-spacing: 5px 10px;
    }
    
    #tabla-necesidades tr,
    #tabla-necesidades td {
        font-size: 0.8em;   
    }
    /*======================================================================================================================================================*/
    /*=====================================================================
    =======================================================================
    Pagina Repositorio*/
    #header-repositorio {
        height: 40vh;
    }
    #fondo2-header-repositorio h1 {
        margin-top: 15vh;
    }
    .cajas-caract-repositorio,
    #repositorio-subtitulo {
        width: 90%;
    }
    #repositorio-titulo {
        font-size: 2.5em;
        margin-top: 30px;
    }
    #repositorio-subtitulo {
        margin-bottom: 50px;
    }
    .titulos-caract-repositorio {
        font-size: 1.6em;
        font-weight: 400;
        margin-left: 10px;
    }
    .w-caja-img-caract-repositorio {
        height: 40vh;
    }
    .fondo-fecha {
        width: 15%;
        height: 60%;
        font-size: 0.8em;
        margin-left: 10px;
        padding: 3px;
    }
    .conector {
        height: 100px;
    }
}