.head {
      background-color: #0F3345!important;
      color: #f1f1f1;
      margin: 0px 0px 0px 0px;
      border:0px; /*solid blue; */
      padding: 20px 20px 20px 20px;
      text-align: center;
      font-family: verdana;
}
.Imagen img {
    border-radius: 50%;
  margin: 40px 10px 10px 10px;
  padding:0px 0px 0px 0px;
  border: 0px 0px 0px 0px;
    width: 150px;
    height: 150px;
    float: right;
          float: Auto;

}
.Parrafo p {
        text-align: justify;
        float: Auto;
        text-justify: inter-word;
        padding:10px 30px 10px 10px;
        border: 10px 10px 10px 10px;
        width: 400px;
        height: 200px;
}
.Ficha div {
        float: Auto;
        text-align: justify;
        float: left;
        text-justify: inter-word;

}

.iframe{
  margin: 20px 0px 20px 20px;
  padding: 20px 0px 20px 20px;
  scroll-behavior: smooth;
  border: 0px 0px 0px 0px;
  width: 100%;
  height: 1000px;
  border:2px solid #0F3345;


}
.footer p {
  background-color: #0F3345!important;
  color: white;
  margin: 0px 0px 0px 0px;
  border: 0px 0px 0px 0px;
  padding:20px 0px 20px 0px;
  text-align: center;
}

/*
    MENU
*/
.menu {
margin: auto;
width: auto;
top: 0px;
margin-top: 0px;
align-items: center;
}


ul, ol{
  list-style: none;    <!-- *****sin puntos***** -->

}
.nav li a{
  background-color: #0F3345;
  color: #fff;
  text-decoration:none;
  padding: 10px 15px;
  display: block;
}
.nav li a:hover{
  background-color: #434343;
}
.nav > li{
 float: left;
}

.nav li ul{
display: none;
position: absolute;
min-width: 140px:
}
.nav li:hover>ul{
  display:block;
}
.nav li ul li {
  position: relative;
}.nav li ul li ul{
  right: -140px
  top:0px;
}

/*
    REDES SOCIALES
*/


.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 0; /* Establecemos la barra en la izquierda */
	top: 250px; /* Bajamos la barra 250px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.social ul {
		list-style: none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-googleplus {background: #d95232;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-mail {background: #666666;}
  .social ul li .icon-whatsapp {background: #00E676;}

	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}

  /*
      proyectos
  */
