#Titulo h1 {
        margin-top: 0px !important;
        color: #fff!important;
        padding-left: 20px;
        background-color: #0F3345!important;
        }

.head {
        background-color: #0F3345!important;
        color: #f1f1f1;
        margin: 0px 0px 0px 0px;
      /*  border:0px; /*solid blue; */
        padding: 20px 0px 10px 0px;
        text-align: center;
        font-family: verdana;
        height: 60px!important;
        width: 100%;
}
.Ficha  {
       /*  border: 1px solid #999;*/
        display: inline-flex;   /* para la alineación de los elementos*/
        width: 470px;
        padding:20px 0px 20px 0px;
        margin: 20px 0px 20px 0px;

      }

.Imagen img {
/*  border: 1px solid #999;*/
  border-radius: 50%;
  vertical-align: top!important;   /* con display inline block*/
  margin: 5px 10px 5px 10px;
  padding:20px 0px 20px 0px;
  border: 0px 0px 0px 0px;
  width: 150px!important;
  height: 150px!important;

  }
.Imagen div{
/*  border: 1px solid #999;*/
  margin: 0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  border: 0px 0px 0px 0px;
  float: left;
}
.Parrafo h2 {
  /*border: 1px solid #999;*/
                text-align: justify;
                text-justify: inter-word;
                margin: 5px 40px 5px 5px;
                border: 0px 0px 0px 0px;
                padding:0px 10px 0px 10px;
                width: 300px!important;
                height: 27px!important;

}
.Parrafo p {
  /*border: 1px solid #999;*/
    vertical-align: top!important;
    text-align: justify;
    text-justify: inter-word;
    margin: 5px 5px 5px 5px;
    border: 0px 0px 0px 0px;
    padding:10px 10px 10px 10px;
    width: 250px!important;
    height: 150px!important;
      }



.iframe{
  margin: 20px 0px 20px 20px;
  padding: 20px 0px 20px 20px;
  scroll-behavior: smooth;
  border: 0px 0px 0px 0px;
  width: 100%;
  height: 1500px;
  border:2px solid #0F3345;
}
.footer p {
  background-color: #0F3345!important;
  color: white;
  margin: 0px 0px 0px 0px;
  border: 0px 0px 0px 0px;
  padding:20px 0px 20px 0px;
  text-align: center;
}

/*
    MENU
*/
.menu {
margin: auto;
width: auto;
top: 0px;
margin-top: 0px;
align-items: center;
}


ul, ol{
  list-style: none;    <!-- *****sin puntos***** -->

}
.nav li a{
  background-color: #0F3345;
  color: #fff;
  text-decoration:none;
  padding: 10px 15px;
  display: block;
}
.nav li a:hover{
  background-color: #434343;
}
.nav > li{
 float: left;
}

.nav li ul{
display: none;
position: absolute;
min-width: 140px:
}
.nav li:hover>ul{
  display:block;
}
.nav li ul li {
  position: relative;
}.nav li ul li ul{
  right: -140px
  top:0px;
}

/*
    REDES SOCIALES
*/


.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 0; /* Establecemos la barra en la izquierda */
	top: 250px; /* Bajamos la barra 250px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

	.social ul {
		list-style: none;
	}

	.social ul li a {
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}

	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-googleplus {background: #d95232;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-mail {background: #666666;}
  .social ul li .icon-whatsapp {background: #00E676;}

	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}

  /*
      proyectos
  */
