.ima {border-radius: 50%;}
.p {text-align: justify;
text-justify: inter-word;
}
.w3{
background-color: #0c6da2!important;
color: white;
            }


.footer p {
  background-color: #0F3345!important;
  color: white;
  margin: 20px;
  border:20px;
  padding:20px 0;
  text-align: center;
}
.container{
  margin: 20px;
  border:20px;
  padding:20px;
  display: flex;
 justify-content: center;
 align-items: center;
}
#menu {
margin: auto;
width: auto;
top: 0px;
margin-top: 0px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 0px 0;
}
h1 {
    margin-top: 0px !important;
    color: #fff!important;
    border: 10px;
    padding-left: 20px;
    background-color: #0F3345!important;
}

ul, ol{
  list-style: none;    <!-- *****sin puntos***** -->

}
.nav li a{
  background-color: #0F3345;
  color: #fff;
  text-decoration:none;
  padding: 10px 15px;
  display: block;
}
.nav li a:hover{
  background-color: #434343;
}
.nav > li{
 float: left;
}

.nav li ul{
display: none;
position: absolute;
min-width: 140px:
}
.nav li:hover>ul{
  display:block;
}
.nav li ul li {
  position: relative;
}.nav li ul li ul{
  right: -140px
  top:0px;
}
