@media screen and (max-width: 520px) {
    /*Generales*/
    .w-section {
        width: 100%;
        height: 70vh;
    }
    .size-titulos {
        font-size: 1.8em;
    }
    .size-p {
        font-size: 0.9em;
    }
    /*=========================================*/
    /*cabecera y menu*/
    #fondo-cabecera {
        height: 70vh;
    }
    #menu {
        width: 100%;
        height: 7vh;
    }
    #menu ul {
        width: 100%;
        height: 5vh;
        margin-top: 1.5vh;
    }
    #menu ul li {
        width: 97%;
    }
    #menu ul li a {
        width: 18%;
        padding-right: 5px;
        font-size: 0.7em;
        text-align: center;
    }
    #inicio h1 {
        width: 90%;
        margin-top: 10vh;
    }
    #play {
        font-size: 40px;
    }
    #play:hover {
        font-size: 50px;
    }
    /*=========================================*/
    /*Caracteristicas y beneficios*/
    #caracteristicas-beneficios {
        height: 1100px;
    }
    #caja-caracteristicas {
        height: 800px;
        flex-direction: column;
        margin-top: 5vh;
    }
    .w-cajas-caracteristicas {
        margin-top: 5vh;
        width: 90%;
        display: flex;
    }
    /*=========================================*/
    /*galeria*/
    #galeria-productos {
        height: 900px;
    }
    #imagenes {
        width: 100%;
        height: 600px;
        margin-top: 5vh;
        flex-wrap: wrap;
    }
    .cajas-imagenes {
        width: 45%;
        height: 250px;
    }
    .cajas-imagenes:nth-last-child(1) {
        margin-left: 10px;
    }
    /*=========================================*/
    /*Testimonios*/
    #testimonios {
        height: 550px;
    }
    #titulos-testimonios {
        margin-top: 10vh;
    }
    /*=========================================*/
    /*Descargar la app*/
    #descargar-app h1 {
        margin-top: 10vh;
    }
    #descargar {
        width: 25%;
        height: 40px;
    }
    #descargar:hover {
        width: 26%;
    }
    /*=========================================*/
    /*Footer*/
    #menu-footer {
        width: 100%;
    }
    #menu-footer li a {
        font-size: 0.9em;
    }
}