body {
    background-color:#25272F;
    font-family: helvetica;
    color: white;
    font-weight: bold;
    
}

.grad1 {
    height: 200px;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red , yellow); /* Standard syntax (must be last) */
}
.tile {
    width: 170px;
    height: 140px;
    margin: 5px;
    padding: 20px;
    float: left;
}

.tile-double {
    width: 390px;
    height: 140px;
    margin: 5px;
    padding: 20px;
    float: left;
}


/* background colors for the tiles */
.blue1 {
    background-color:#3b5998;
}

.blue2 {
    background-color:#8b9dc3;
}

.blue3 {
    background-color:#Dfe3ee;
    color: black;
}

.lightgrey {
    background-color:#F7f7f7;
    color: black;
    
}

.psp-image {
    background-image: url("PSP.png");
    font-size: 20pt;
    color: navy;
}

#main-container {
    max-width: 900px;
    min-width: 500px;
    margin: 0 auto;
}

#users-table {
    margin: 10px auto;
    font-weight:normal;
    width: 100%;
}

#users-table th {
    border-bottom: 1px solid #F6F6F6;
    padding: 2px;
    text-align:center;
}

#users-table td {
    padding: 2px;
    text-align:center;
}


.chart-total {
    margin-top: 0px;
    font-size: 30pt;
    text-align: right;
}

.entrega-day {
    font-size: 55pt;
}

.entrega-hours {
    font-size: 10pt;
    font-style: italic;
    text-align: right;
    margin-right: 10px;
}

.tile-list li {
    font-weight:bold;
    margin-bottom: 2px;
    
}

ul.tile-list li {
    list-style-type:disc;    
    margin-left: 5px;
    
}

ol.tile-list li {
    list-style-type:decimal;   
    margin-left: 1px;
      font-size: 12px;
    
}

.tile-list a {
    color: white;
    text-decoration:none;
}

.entrega-date {
    margin-top: 20px;
}

h2 {
    margin-top: 1px;
    margin-bottom: 15px;
    font-size: 18pt;
}